<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Code Reviewer</title>
    <link rel="stylesheet" href="../static/style1.css">
</head>
<body>
    <header>
        <h1>AI Code Reviewer</h1>
    </header>

    <main class="container">
        <section class="intro-section">
            <h2>Welcome to AI Code Reviewer</h2>
            <p>Analyze your code with AI-powered insights. Detect issues, optimize performance, and generate documentation effortlessly.</p>
        </section>

        <section class="upload-section">
            <h2>Get Started</h2>
            <input type="text" id="github-url" placeholder="Enter GitHub Repo URL">
            <input type="file" id="file-upload" multiple>
            <button onclick="analyzeCode()">Analyze</button>
        </section>
    </main>

    <!--<footer>
        <p>&copy; 2025 AI Code Reviewer</p>
    </footer>-->

    <script src="../static/script1.js"></script>
</body>
</html>
