<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Review Results</title>
    <link rel="stylesheet" href="../static/css/style2.css">

</head>
<body>
    <div class="sidebar-toggle" onclick="toggleSidebar()">☰</div>

    <!-- Hamburger Sidebar Menu -->
    <div class="sidebar" id="sidebar">
        <a href="/"><i class="fas fa-home"></i>🏠Home</a>
        <a href="#" onclick="toggleDarkMode()"><i class="fas fa-adjust"></i>🌓Toggle Mode</a>
        <a href="https://github.com/" target="_blank" class="sidebar-link">
            <i class="fab fa-github"></i>🐙GitHub
        </a>
    </div>
  

    <header>
        <h1>Code Review Results</h1>
    </header>
    <section class="section" id="review-text">
        {% if error %}
            <p>{{ error }}</p>
        {% else %}
            {% for section in sections.values() %}
                <h2>{{ section.title }}</h2>
                <div class="box">
                    <pre>{{ section.body | safe }}</pre>
                </div>       
            {% endfor %}
        {% endif %}
        <!-- {% if review %}
        <div>
            <h2>Code Review Report</h2>
            <pre>{{ review_text }}</pre>
            <button onclick="downloadDOCX()">Download Report (DOCX)</button>
        </div>
        {% endif %} -->
        <button class="download-button" onclick="downloadDOCX()">⬇️ Download Report</button>
        <button class="back-button" onclick="goBack()">Back to Home</button>
    </section>
        
    </main>
    <script src="../static/Js/script2.js"></script>
</body>
</html>
